<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophia Jewels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./frontpage.css">
</head>
<body>
    <div class="navbar">
        <p>Sophia Jewels</p>
        <div><a href="/sophiaJewels">Home</a><a href="/Bracelet">Bracelet</a><a href="/necklace">Necklace</a><a href="#">Ring</a></div>
        <div><i class="fa-solid fa-magnifying-glass"></i><a href="/shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a></i><i class="fa-regular fa-circle-user"></i><i class="fa-solid fa-bars"></i></div>
    </div>
    <div class="mainbar">
        <div class="one">
            <p>Dazzle in Every Occasion</p>
            <p style="font-size: 50px;">"Rooted in Tradition, Designed for Today: Celebrate Every Occasion with Sophia Jewels"</p>
            <button>Buy Now</button>
        </div>
        <div class="two">
            <center>
                <h1 style="margin: 300px;">New Collection</h1>
            </center>
            <div class="collection">
                <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/PearlOrchid.jpeg" class="card-img-top">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Pearl Orchid Earings</p>
                    <p style=" font-size: 100px; font-weight: 700;">$220<i class="fa-solid fa-cart-shopping addToCart"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        50% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/PixelOrchids.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Pixel Earings</p>
                    <p style=" font-size: 100px; font-weight: 700;">$200<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/TwilightBloom.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Twilight Bloom</p>
                    <p style=" font-size: 100px; font-weight: 700;">$150<i class="fa-solid fa-cart-shopping addToCart"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/SwanOrchids.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Swan Orchids</p>
                    <p style=" font-size: 100px; font-weight: 700;">$400<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/Ivory Blossom.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Ivory Blossom</p>
                    <p style=" font-size: 100px; font-weight: 700;">$300<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/MidnightOrchids.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Midnight Orchids</p>
                    <p style=" font-size: 100px; font-weight: 700;">$100<i class="fa-solid fa-cart-shopping addToCart"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Earings/ScarletPetals.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Scarlet Petals</p>
                    <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping addToCart"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        70% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                    <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Blue Bloom.jpeg" class="card-img-top" >
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Blue Bloom</p>
                        <p style=" font-size: 100px; font-weight: 700;">$220<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            50% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Floral Charm Bracelet.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Floral Charm</p>
                        <p style=" font-size: 100px; font-weight: 700;">$200<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Heart Flower.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Heart Bloom</p>
                        <p style=" font-size: 100px; font-weight: 700;">$150<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            New
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Petal Glow.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Petal Glow</p>
                        <p style=" font-size: 100px; font-weight: 700;">$400<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Pressed Flower.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Red Rosy</p>
                        <p style=" font-size: 100px; font-weight: 700;">$300<i class="fa-solid fa-cart-shopping addToCart"></i></p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Sunflower Kissed.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Sunflower Kissed</p>
                        <p style=" font-size: 100px; font-weight: 700;">$100<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            New
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/BotanicBliss.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Botanic Bliss</p>
                        <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            70% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Lavender Grace.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Lavender Grace</p>
                        <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            70% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Moonlit Blossom.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Moonlit Blossom</p>
                        <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            70% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Enchanted Blooms.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Enchanted Blooms</p>
                        <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            70% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Bracelets/Blue Bloom.jpeg" class="card-img-top">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Blue Bloom</p>
                        <p style=" font-size: 100px; font-weight: 700;">$220<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            50% off
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; margin: 50px 35px;">
                        <img src="/Earings/TwilightBloom.jpeg" class="card-img-top" alt="">
                        <div class="card-body" style="background-color: #9D9689;">
                        <p>Twilight Bloom</p>
                        <p style=" font-size: 100px; font-weight: 700;">$150<i class="fa-solid fa-cart-shopping addToCart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            New
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </p>
                        </div>
                      </div>
                      <div class="card" style="width: 75rem; height: 100rem; margin: 50px 35px; background-color: #9D9689;">
                        <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                          <p style="font-size: 300px;">20+</p>
                          <p class="card-text" style="margin: 35px;">New Variety For You</p>
                          <a href="#" class="btn btn-dark">Explore</a>
                        </div>
                      </div>        
            </div>
        </div>
        <div class="three" style="margin: 400px 50px;">
          <center>
            <h1 style="margin: 300px;">Our Services</h1>
        </center>
        <div class="collection">
          <div class="card text-center mb-3" style="width: 60rem; height: 50rem; background-color: transparent; color: #494848;">
            <div class="card-body">
              <i style="position: relative; top: 20px; left: 0%; font-size: 500px;" class="fa-solid fa-truck"></i>
              <p class="card-title" style="position: relative; top: 10%;">Free Shipping</p>
            </div>
          </div>
          <div class="card text-center mb-3" style="width: 60rem; height: 50rem; background-color: transparent; color: #494848;">
            <div class="card-body">
              <i style="position: relative; top: 20px; left: 0%; font-size: 500px;" class="fa-solid fa-plane-departure"></i>
              <p class="card-title" style="position: relative; top: 10%;">Worldwide Delivery</p>
            </div>
          </div>
          <div class="card text-center mb-3" style="width: 60rem; height: 50rem; background-color: transparent; color: #494848;">
            <div class="card-body">
              <i style="position: relative; top: 20px; left: 0%; font-size: 500px;" class="fa-solid fa-credit-card"></i>
              <p class="card-title" style="position: relative; top: 10%;">Secure Payments</p>
            </div>
          </div>
          <div class="card text-center mb-3" style="width: 60rem; height: 50rem; background-color: transparent; color: #494848;">
            <div class="card-body">
              <i style="position: relative; top: 20px; left: 0%; font-size: 500px;" class="fa-solid fa-arrows-rotate"></i>
              <p class="card-title" style="position: relative; top: 10%;">Easy Returns</p>
            </div>
          </div>
        </div>
        </div>
        <div class="newsletter">
          <p>Sign Up For Our Newsletter</p>
          <p style="font-size: 80px;">Get Email Updates about latest collection and new offers<input type="text" placeholder="Your Email Address" style="position: relative; left: 50%; padding: 20px;"></p>
        </div>
        <div class="footer">
         <div class="section">
           <ul style="list-style-type: none;">
             <li style="font-weight: 700; font-size: 80px;">Quick Links</li>
             <li>Customer Reviews</li>
             <li>Our Blogs</li>
             <li>About Us</li>
             <li>Store Locator</li>
           </ul>
         </div>
         <div class="section">
            <ul style="list-style-type: none;">
              <li style="font-weight: 700; font-size: 80px;">Info</li>
              <li>Shipping & Returns</li>
              <li>International Shipping</li>
              <li>Terms of Service</li>
              <li>International Shipping</li>
            </ul>
         </div>
         <div class="section">
          <ul style="list-style-type: none;">
            <li style="font-weight: 700; font-size: 80px;">Contact Us</li>
            <li>Email: sophiaJewels122@gmail.com</li>
            <li>Jewels Sophia Private Ltd.</li>
            <li>9876003452</li>
          </ul>
         </div>
         <div style="font-size: 75px; display: flex; gap: 50px;">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-linkedin"></i>
         </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>