<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sophia Jewels</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="frontpage.css">
        <link rel="stylesheet" href="bracelet.css">
    </head>
<body>
    <div class="navbar">
        <p>Sophia Jewels</p>
        <div><a href="/sophiaJewels">Home</a><a href="/Bracelet">Bracelet</a><a href="necklace">Necklace</a><a href="#">Ring</a></div>
        <div><i class="fa-solid fa-magnifying-glass"></i><i class="fa-solid fa-bag-shopping"></i><i class="fa-regular fa-circle-user"></i><i class="fa-solid fa-bars"></i></div>
    </div>
    <div class="mainbar">
        <div class="first" style="background-image: url(./Necklaces/necklace.jpeg)";>
            <p>Explore Premium Necklace Collections</p>
            <button style="background-color: rgb(149 129 70);">Explore</button>
        </div>
        <div class="two">
            <center>
                <h1 style="margin: 300px;">Latest Collection</h1>
            </center>
            <div class="collection">
                <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Botanical Bliss Charm.jpeg" class="card-img-top" >
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Botanical Bliss Charm</p>
                    <p style=" font-size: 100px; font-weight: 700;">$220<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        50% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Floral Dew Elegance.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Floral Dew Elegance</p>
                    <p style=" font-size: 100px; font-weight: 700;">$200<i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Daisy Heart.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Daisy Heart</p>
                    <p style=" font-size: 100px; font-weight: 700;">$150<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Golden Petal Essence.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Golden Petal Essence</p>
                    <p style=" font-size: 100px; font-weight: 700;">$400<i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Midnight Bloom.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Midnight Bloom</p>
                    <p style=" font-size: 100px; font-weight: 700;">$300<i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Orchid Whisper.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Orchid Whisper</p>
                    <p style=" font-size: 100px; font-weight: 700;">$100<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Rose Crystal Charm.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Rose Crystal Charm</p>
                    <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        70% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Ruby Glimmer Butterfly.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Ruby Glimmer Butterfly</p>
                    <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        70% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Serene Floral Whisper.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Serene Floral Whisper</p>
                    <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        70% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                    <img src="/Necklaces/Starry Night Heart.jpeg" class="card-img-top" alt="">
                    <div class="card-body" style="background-color: #9D9689;">
                    <p>Starry Night Heart</p>
                    <p style=" font-size: 100px; font-weight: 700;">$120<i class="fa-solid fa-cart-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        70% off
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </p>
                    </div>
                  </div>
                  <div class="card" style="width: 75rem; margin: 50px 35px;">
                  <img src="/Necklaces/Botanical Bliss Charm.jpeg" class="card-img-top" >
                  <div class="card-body" style="background-color: #9D9689;">
                  <p>Botanical Bliss Charm</p>
                  <p style=" font-size: 100px; font-weight: 700;">$220<i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      50% off
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </p>
                  </div>
                </div>
                  <div class="card" style="width: 75rem; height: 100rem; margin: 50px 35px; background-color: #9D9689;">
                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                      <p style="font-size: 300px;">20+</p>
                      <p class="card-text" style="margin: 35px;">New Variety For You</p>
                      <a href="#" class="btn btn-dark">Explore</a>
                    </div>
                  </div>                 
            </div>
        </div>
    </div>
</body>
</html>